<!DOCTYPE html>
<html>
  <head>
    <title>Multi-Bunny</title>
    <link rel='stylesheet' type='text/css' href='css/style.css' />
  </head>
  <body>
  	<p id="status"></p>
    <p id="ping"></p>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js'></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
	    <script type='text/javascript' src='js/pixi.js'></script>
	        <script type='text/javascript' src='js/keydrown.js'></script>
    <script type='text/javascript' src='js/empires.js'></script>

  </body>
</html>